<launch>

  <node pkg="nodelet" type="nodelet" name="nodelet_manager" output="screen" respawn="false" args="manager"/>

  <node pkg="nodelet" type="nodelet" name="depth_to_pc" args="load depth_image_proc/point_cloud_xyzrgb nodelet_manager" respawn="false">
    <remap from="rgb/image_rect_color" to="/vrep/visionSensor"/>
    <remap from="depth_registered/image_rect" to="/vrep/depthSensor_flipped"/>
    <remap from="rgb/camera_info" to="/vrep/visionSensorInfo"/>
  </node>


  <node pkg="vrep4_helpers" type="image_flip" name="image_flip" output="screen">
      <remap from="image" to="/vrep/depthSensor"/>
      <remap from="image_flipped" to="/vrep/depthSensor_flipped"/>
  </node>

  <arg name="marker_size" default="50.0" />
  <arg name="max_new_marker_error" default="0.08" />
  <arg name="max_track_error" default="0.2" />
  <arg name="cam_image_topic" default="/vrep/visionSensor" />
  <arg name="cam_info_topic" default="/vrep/visionSensorInfo" />	
  <arg name="output_frame" default="/Vision_sensor" />
  <remap from="/bubbleRob" to="/Vision_sensor"/>
  <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />
</launch>
